<div *ngFor="let module of modules" class="course">
  <ul class="module-list">
    <li style="display: flex">
      <div>{{ module.name }}</div>
      <div>{{ module.medias.length }} medias</div>
      <span
        [ngClass]="{
          'icon-list': true,
          up: !module.isSelected,
          down: module.isSelected
        }"
        (click)="reveal(module)"
        style="margin-left: 10px"
        >&gt;</span
      >
    </li>
    <p class="li">
      <app-media
        [ngClass]="{ 'is-visible': module.isSelected }"
        [medias]="module.medias"
        (onToggleMedia)="onMediasToggle($event)"
      >
      </app-media>
    </p>
  </ul>
</div>
