<div *ngFor="let module of modules" class="course">
  <ul class="module-list">
    <li style="display: flex">
      <div style="width: 75%">
        {{ module.name }}
      </div>
      <div>{{ module.medias.length }} medias</div>

      <span
        [ngClass]="{
          'icon-list': true,
          up: !module.isSelected,
          down: module.isSelected
        }"
        (click)="reveal(module)"
        *ngIf="module.medias.length"
        style="margin-left: 0.5em"
        >&gt;</span
      >
      <div class="col xs1">
        <toggle
          [selectedStatus]="module!.isSelected"
          [isExpandable]="module.medias!.length > 0"
          (onToggle)="toggle($event, module)"
        ></toggle>
      </div>

      <div style="margin-left: 1em">
        {{ getMediaTime(module.medias) }}
      </div>
    </li>
    <p class="li">
      <app-media
        [ngClass]="{ 'is-visible': module.isSelected }"
        [medias]="module.medias"
        (onToggleMedia)="onMediasToggle($event)"
      >
      </app-media>
    </p>
  </ul>
</div>
