<div class="container">
  <mat-toolbar class="row header">
    <mat-toolbar-row class="col xs12">
      <h1>{{ title }}</h1>
    </mat-toolbar-row>
    <!-- ancien header et div -->
    <mat-toolbar-row class="col xs12">
      <a [routerLink]="['/', 'user']">
        <mat-icon class="col xs6">input</mat-icon>
      </a>
      <!-- <a [routerLink]="['/']"> </a> -->
      <button mat-button class="l">
        <mat-icon (click)="stop()" svgIcon="sleep"></mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="row">
    <div class="col xs12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="row footer">
    <div class="col xs12">v. 1.0.0 (Dream Team Acelys &copy; 2023)</div>
  </footer>
</div>
