h1 {
  color: rgba(127, 127, 200, 0.8);
}
// .mat-toolbar {
//   background-color: rgb(86, 72, 138);
// }
.mat-toolbar {
  background-image: linear-gradient(
    to right,
    rgb(13, 5, 43),
    rgb(61, 47, 110),
    rgb(106, 92, 156),
    rgb(195, 186, 228)
  );
}
.mat-raised-button {
  background-image: linear-gradient(
    to right,
    rgb(13, 5, 43),
    rgb(61, 47, 110),
    rgb(106, 92, 156),
    rgb(195, 186, 228)
  );
}

a {
  color: rgb(195, 186, 228);
}
.row {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.l {
  height: auto /* !important */;
  width: auto /* !important */;
  margin-left: 1em;
  cursor: pointer;
  // svg {
  //   // height: 64px !important;
  //   // width: 64px !important;
  // }
}
// .l:hover {
//   height: auto;
//   width: auto;
// }
