<!-- Ici, boutton avec un fonction onClick qui contient un lien pour accéder à dashboard -->
<div class="actions">
  <button type="button" (click)="onClick('')">&#8617; Previous</button>
</div>
<!-- Ici on utilise un routerLink -->
<div class="row">
  <div class="col xs12">
    <a [routerLink]="['/', 'dashboard']">Back</a>
  </div>
</div>

<!-- <div id="asc">
  ID
  <button type="button" (click)="sortById('asc')">&#9650;</button>
  Last name
  <button type="button" (click)="sortByLastName('asc')">&#9650;</button>
</div>
<div id="desc">
  ID
  <button type="button" (click)="sortById('desc')">&#9660;</button>
  Last name
  <button type="button" (click)="sortByLastName('desc')">&#9660;</button>
</div> -->

<table>
  <caption>
    Students -
    <span (click)="openForm()"> Add</span>
  </caption>
  <!-- <thead> -->
  <tr>
    <th>
      <input
        type="checkbox"
        [(ngModel)]="checkUncheckAll"
        (ngModelChange)="onCheckUncheckAll()"
      />
    </th>
    <th (click)="byId()" [ngClass]="{ sorted: sortDefault === 'id' }">
      <span
        class="down-sort"
        *ngIf="sortDefault === 'id' && byIdSortOrder === 1"
        >&#9650;</span
      >
      Id
      <span class="up-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === -1"
        >&#9660;</span
      >
    </th>
    <th>Initials</th>
    <th
      (click)="byLastname()"
      [ngClass]="{ sorted: sortDefault === 'lastName' }"
    >
      <span
        class="down-sort"
        *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === 1"
        >&#9650;</span
      >
      Lastname
      <span
        class="up-sort"
        *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === -1"
        >&#9660;</span
      >
    </th>
    <th>First Name</th>
    <th>Email</th>
    <th>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="multiDelete(students)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </th>
  </tr>
  <!-- </thead> -->
  <!-- <tbody *ngIf="students.length"> -->
  <tr *ngFor="let student of students">
    <!-- <td><input type="checkbox" [(ngModel)]="student.isSelected!" (click)="onSelectStudent(student)"]> </td> -->
    <td>
      <input
        type="checkbox"
        [(ngModel)]="student.isSelected!"
        (ngModelChange)="onSelectStudent(student)"
      />
    </td>
    <td>{{ student.id }}</td>
    <td>
      <span class="bubble">
        <!-- Anchor to UpdateComponent with the correct id -->
        <button
          type="button"
          class="but"
          title=" Click for Update Student"
          (click)="openForm(student)"
        >
          {{ student | initials : "lastNameFirst" }}
        </button>
      </span>
    </td>
    <!-- on ajouter | initials pour affichier une colonne en plus pour afficher les initials -->
    <td>{{ student.lastName | uppercase }}</td>
    <td>{{ student.firstName }}</td>
    <td>{{ student.email }}</td>
    <td>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="delete(student)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  <!-- </tbody> -->
</table>
