table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;

  th {
    background-color: #eee;
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    border: 1px solid #ddd;
  }

  td {
    padding: 0.5em;
    border: 1px solid #ddd; //bord du tableau

    &:nth-child(even) {
      background-color: #f9f9f9;
    } // pour afficher les colonnes et pas la ligne on sort l'élément et on écrit: // tr:nth-child(even) {background-color: #e0acf8;}
  }
  span {
    &.bubble {
      width: 1.2em;
      height: 1.2em;
      display: inline-block;
      color: #292b9b;
      padding: 10px 10px;
      background-color: #f5f5f5;
      border-radius: 50%; /* taille du rayon pour arrondir les coins */
      text-align: center;

      .bubble td {
        text-align: center; /* centre le texte horizontalement */
        vertical-align: middle; /* centre le texte verticalement */
      }
    }
  }
}

button {
  margin: 0.5em;
}

// text-transform : uppercase //(pour passer en maj)
