table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;

  th {
    background-color: #eee;
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    border: 1px solid #ddd;
  }

  td {
    padding: 0.5em;
    border: 1px solid #ddd; //bord du tableau

    &:nth-child(even) {
      background-color: #f9f9f9;
    } // pour afficher les colonnes et pas la ligne on sort l'élément et on écrit: // tr:nth-child(even) {background-color: #e0acf8;}
  }
}
button {
  margin: 0.5em;
}
